#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/*##################*/

.channels {
  display: flex;
  flex-direction: row;
  gap: '5px';
  width: 900px;
  height: 500px;
  background-color: #444;
}

.channel {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 20px;

  border: 1px solid #111;
  width: 100px;
  height: 450px;

  /*overflow: hidden;*/
}

.channel .fader {
  height: 300px;
  width: 60px;
  background-color: #444;
}

.channel input[type=range] {
  display: block;
  appearance: none;
  transform: rotateZ(270deg);
  transform-origin: center center;
  margin-top: 120px;
  margin-left: -120px;
  margin-right: 0;
  width: 300px;
  height: 60px;
  
  background: transparent;
  cursor: pointer;
}

.channel input[type="range"]::-webkit-slider-runnable-track {
  background-color: black;
  border-radius: 0.5rem;
  height: 0.5rem;  
}

.channel input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;

  /*custom styles*/
  background-color: #ccc;
  border: 1px solid black;
  filter: drop-shadow(-5px 5px 4px #222);
  height: 40px;
  width: 80px;
  margin-top: -17px;
}