#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/*##################*/

.transport {
  margin-bottom: 25px;
}

.transport .screen {
    background-color: #97cdcf;
    color: #222;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #222;
    border: 1px solid #111;
    box-sizing: border-box;
}

.transport span {
  font-family: monospace;
  font-size: 48px;
  padding: 3px;
}

.transport span.inverted {
    background-color: #222;
    color: #97cdcf;
}

.channels {
  display: flex;
  flex-direction: row;
  gap: '5px';
  width: 1100px;
  height: 730px;
  background: linear-gradient(0deg, #3c3c3c 0%, #444 100%);

  padding-left: 10px;
  padding-right: 10px;
}

.channel {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  gap: 20px;

  grid-template-rows:270px 50px 300px 100px;

  width: 100px;
  height: 700px;
  box-sizing: border-box;
  background: none;
  /*overflow: hidden;*/

  border-collapse: collapse;
  padding-top: 10px
  user-select: none;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.channel .fader {
  height: 300px;
  width: 65px;
}

.channel input[type=range] {
  display: block;
  appearance: none;
  transform: rotateZ(270deg);
  transform-origin: center center;
  margin-top: 120px;
  margin-left: -120px;
  margin-right: 0;
  width: 300px;
  height: 60px;

  background: transparent;
  cursor: pointer;
}

.channel input[type="range"]::-webkit-slider-runnable-track {
  background-color: black;
  border-radius: 0.5rem;
  height: 0.5rem;
}

.channel input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;

  /*custom styles*/
  background: linear-gradient(90deg, #111 0%, #444 10%, #ccc 15%, #444 49%, #ddd 49%, #ddd 51%, #444 51%, #222 87%, #444 87%, #ccc 100%);
  border: 1px solid black;
  border-radius: 3px;
  filter: drop-shadow(-5px 5px 4px #222);
  height: 40px;
  width: 80px;
  margin-top: -17px;
}

.channel .red input[type=range]::-webkit-slider-thumb  {
  background: linear-gradient(90deg, #200 0%, #400 10%, #c00 15%, #400 49%, #ddd 49%, #ddd 51%, #400 51%, #200 87%, #400 87%, #c00 100%);
}

.channel .blue input[type=range]::-webkit-slider-thumb  {
  background: linear-gradient(90deg, #002 0%, #114 10%, #33e 15%, #114 49%, #ddd 49%, #ddd 51%, #116 51%, #002 87%, #114 87%, #33e 100%);
}

.channel .meterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2px;
  background-color: #222;
  border-radius: 3px;
  height: 100%;
}

/* For all soft-looking buttons */
.channel button {
    font-size: 10px;
    display: block;
    background-color: #999;
    border: 3px solid #333;
    color: black;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
}

/* red lamp-like */
.channel button.toggledRed {
    border-color: #6e3243;
    background: radial-gradient(circle, #e3a8b1 0%, #a85160 100%);
    filter: drop-shadow(0px 0px 5px #a85160 );
}

/* yellow lamp-like */
.channel button.toggledYellow, .channel button.toggled {
    border-color: #6e410e;
    background: radial-gradient(circle, rgba(251,235,63,1) 0%, rgba(252,166,70,1) 100%);
    filter: drop-shadow(0px 0px 5px rgba(252,166,70,1) );
}

input[type="range"]:focus::-webkit-slider-thumb {
  background-color: #eee;
}

/* firefox faders */
/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 3px;

   /*custom styles*/
  border: 1px solid black;
  filter: drop-shadow(-5px 5px 4px #222);
  height: 60px;
  width: 80px;
}

/* Channel strip */
.strip {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 5px;
  row-gap: 5px;

  background: linear-gradient(0deg, #2b4b85 0%, #2d4d87 100%);;
}

.strip button {
    width: 40px;
    height: 40px;
}

.strip .rotaryWrapper span {
  font-size: 12px;
}

.strip .rotary {
    top: 5px;
    left: 5px;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid black;
    width: 30px;
    height: 30px;
    border-radius: 21px;

    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%);
}

.strip .rotary.green {
    background-color: #48a340;
}

.strip .rotary.blue {
    background-color: #2d2d87;
}

.strip .rotary.red {
    background-color: #872d2d;
}
